body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#alerta,
#seguro {
    padding: 20px;
    margin-top: 20px;
    display: none;
}

#alerta {
    background-color: red;
    color: white;
}

#seguro {
    background-color: green;
    color: white;
}

#formEndereco {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.botoes {
    margin-top: 20px;
}

button {
    margin-right: 10px;
}